.btn {
    padding: var(--xxs) var(--xs);
    font-size: var(--p-small);
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid transparent;
    white-space: nowrap;
    transition: background-color 0.5s;
    cursor: pointer;
    max-height: 4rem;
    &:hover {
        background-color: var(--blue-dark);
    }
    &.close {
        display: none;
    }
    &--submit {
        background-color: var(--white);
        color: var(--blue);
        border: 1px solid var(--blue);
        &:hover {
            background-color: var(--grey1);
        }
    }
    &--edit {
        max-height: 3rem;
    }
    &--delete {
        background-color: var(--white);
        color: var(--blue);
        &:hover {
            background-color: var(--grey1);
        }
    }
}
