* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    outline: none;
}
body {
    background-color: var(--white);
}
::selection {
    background-color: var(--blue);
    color: var(--white);
}
